@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #0052fc;
}

html {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.custom-h {
  height: calc(2500px + 100vh);
}
